#productMain{
    top: 130px;
    margin:20px 70px;
    /* width: 100vw; */
    height: max-content;
    /* background-color: blue; */
    position: absolute;
    display: flex;
    flex-wrap: wrap;
      
}